name: Coverage

on: [push, pull_request]

jobs:
    coverage:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: mysql:8
                env:
                    MYSQL_DATABASE: testing
                    MYSQL_USER: testing
                    MYSQL_PASSWORD: testing
                    MYSQL_ALLOW_EMPTY_PASSWORD: yes
                    MYSQL_ROOT_HOST: "%"
                ports:
                    - 13306:3306
        steps:
            - uses: actions/checkout@master

            - name: Select PHP version
              uses: shivammathur/setup-php@master
              with:
                  php-version: '7.4'
                  coverage: xdebug

            - name: Start required services
              run: sudo systemctl start mysql

            - name: Create MySQL User
              run: mysql -uroot -proot -e "create user 'testing'@'%' identified by 'testing';" --port 13306

            - name: Create MySQL Database
              run: mysql -uroot -proot -e "create database testing;" --port 13306

            - name: Grant MySQL permissions
              run: mysql -uroot -proot -e "grant all privileges on *.* to 'testing'@'%' with grant option;" --port 13306

            - name: Install Composer dependencies
              run: composer install

            - name: Run tests for coverage
              run: ./vendor/bin/phpunit --coverage-clover=coverage.xml
              env:
                  TENANCY_DB: testing
                  TENANCY_USERNAME: testing
                  TENANCY_PASSWORD: testing
                  APP_KEY: deela5kinohw0haekoothahSh8eexach
            - name: Upload coverage
              run: bash <(curl -s https://codecov.io/bash)
